:root {
  --background: #242120;
  --background-card: #6B626C;
}

.background {
  background-color: var(--background);
  display: grid;
  place-items: center;
  height: 100vh;
}

.gallery {
  display: flex;
  left: calc(50% - 330px);
}

.card {
  position: relative;
  left: 0px;
  width: 250px;
  height: 280px;
  background-color: var(--background-card);
  border-radius: 8px;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card:not(:first-child) {
  margin-left: -45px;
}

.card:hover {
  transform: translateY(-16px);
  font-weight: bold;
  cursor: pointer;
}

.card:hover~.card {
  left: 55px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card a {
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration-style: none;
  text-decoration-line: none;
  background-color: var(--background);
  color: white;
}